body {
  background-image: url("https://images.unsplash.com/photo-1470225620780-dba8ba36b745?w=1400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHBhcnR5fGVufDB8fDB8fHww");
  background-size: cover;

  max-width: 100%;
  overflow-x: hidden;
  color: white;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.container {
  padding: 20px;
  background-color: rgba(28, 27, 27, 0.5);
  border-radius: 5px;
}

.roww {
  height: 900px;
}
label {
  font-size: 14px;
}
input {
  height: 32px;
}

@media screen and (min-width: 900px) {
  .myrow {
    margin-left: -500px;
  }
}
